@using Xyperico.Web.Mvc
<div id="account-box">
@if (User.Identity.IsAuthenticated)
{
  using (Html.BeginForm("logout", "login", new { area = "account" }))
  {
    <span>@Html.Encode(_.Account.Welcome_p0, User.Identity.Name)</span>
    @Html.AntiForgeryToken()
    <input type="submit" value="@Html.Encode(_.Account.Log_out)" />
  }
}
else
{
  @Html.ActionLink(_.Account.Log_in, "show", "login", new { area = "account" }, null)
}
</div>